<div fxLayout="row" fxLayoutAlign="center">
  <div style="padding-top: 10px"><h3>Mapbox Demo</h3></div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <!-- <div><h4>Marker with popup info</h4></div> -->
  <div><h4>Heat map</h4></div>
</div>
<!-- <div style="height: 900px">
  <app-map></app-map>
</div> -->
<div style="height: 600px">
  <app-heatmap></app-heatmap>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <button class="btn" (click)="useData()" type="button"><span>All Data</span></button>
  <button class="btn orange" type="button"><span>Data Set 1</span></button>
  <button class="btn red" type="button"><span>Data Set 2</span></button>
  <button class="btn red" type="button"><span>Data Set 1 & 2</span></button>
</div>
