/* You can add global styles to this file, and also import other style files */
@import '../node_modules/mapbox-gl/dist/mapbox-gl.css';

.flex-container-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-container-row {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.map-details-container {
  opacity: 0.95;
  background-color: #FFFFFF;
  padding: 30px;
}

.mapboxgl-popup-content {
  width: 620px !important;
  opacity: 0.95 !important;
  background-color: #FFFFFF !important;
  padding: 30px !important;
}

.overview-text {
  height: 28px;
  color: #181818;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
}

.content-text {
  height: 20px;
  opacity: 0.4;
  color: #252036;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.company-text {
  height: 24px;
  opacity: 0.8;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
